/* button */
html {
  font-size: 16px;
}
.btx-add {
  padding: 5px 15px;
  font-size: 1.1em;
  font-weight: 350;
  text-transform: capitalize;
  border-radius: 20px;
  color: white;
  background-color: #31c1e1;
  border: none;
  cursor: pointer;
}
.btx-red {
  padding: 5px 41px;
  font-weight: 400;
  font-size: 1.1em;
  text-transform: capitalize;
  border-radius: 20px;
  color: white;
  background-color: #ff2330;
  border: 2px solid #ff2330;
  cursor: pointer;
}
.btx-blue {
  width: 165px;
  height: 65px;
  padding: 16px 29px;
  font-size: 1.1em;
  text-transform: capitalize;
  border-radius: 20px;
  color: #31c1e1;
  background-color: #ff233200;
  border: 2px solid #31c1e1;
  cursor: pointer;
}
.btx-blue-reverse {
  padding: 5px 41px;
  font-weight: 400;
  font-size: 1.1em;
  text-transform: capitalize;
  border-radius: 20px;
  color: white;
  background-color: #31c1e1;
  border: 2px solid #31c1e1;
  cursor: pointer;
}
.Hero .btx-red,
.today .btx-red,
.trending .btx-red,
.gaming .btx-red,
.btx-blue {
  text-transform: uppercase;
  font-weight: 600;
  padding: 16px 24px;
  width: 165px;
  height: 65px;
  letter-spacing: 1px;
}
.today .btx-red,
.trending .btx-red,
.gaming .btx-red {
  padding: 16px 20px;
  height: 57px;
  width: 165px;
}
.btx-red-reverse {
  padding: 5px 41px;
  font-size: 1.1em;
  font-weight: 350;
  text-transform: capitalize;
  border-radius: 20px;
  color: #ff2330;
  background-color: hsla(0, 0%, 0%, 0);
  border: 2px solid #ff2330;
  cursor: pointer;
}
.glassy-card .btx-red,
.glassy-card .btx-blue-reverse {
  border-radius: 10px;
}
/*button animations*/

.btx-red,
.btx-blue,
.btx-red-reverse,
.btx-blue-reverse {
  transition: 0.8s;
  position: relative;
  overflow: hidden;
  z-index: 100;
  background: none;
}

.btx-red-reverse:hover,
.btx-blue:hover {
  color: #fff;
}
.btx-red:hover {
  color: #ff2330;
}
.btx-blue-reverse:hover {
  color: #31c1e1;
}
.btx-red::before,
.btx-red-reverse::before,
.btx-blue::before,
.btx-blue-reverse::before {
  content: "";
  position: absolute;
  left: 0;
  z-index: -1;
  top: 0;
  border-radius: 0 0 50% 50%;
  transition: 0.8s;
}
.btx-red::before {
  width: 200%;
  height: 180%;
  background: #ff2330;
}
.btx-blue::before {
  height: 0%;
  width: 100%;
  background: #31c1e1;
}
.btx-red-reverse::before {
  height: 0%;
  width: 100%;
  background: #ff2330;
}
.btx-blue-reverse::before {
  height: 180%;
  width: 200%;
  background: #31c1e1;
}
.btx-red:hover::before {
  height: 0%;
}
.btx-blue:hover::before {
  width: 100%;
  height: 180%;
}
.btx-red-reverse:hover::before {
  width: 100%;
  height: 180%;
}
.btx-blue-reverse:hover::before {
  height: 0%;
}
.btx-buy:hover {
  height: 106%;
}
